PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=learndb

// essa é a configuração do banco de dados que está sendo usada no projeto com seguintes variaveis, ai recomendo usar essa configuração
PORT=3000
ENV=development
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_NAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5433